.card.mb-3
  - @bicycle.pictures.each do |image|
    = image_tag image.image_url, width: '480', height: '380'
  .card-body
    %h4.card-title 
      = @bicycle.name
    %p.author
      %span Author:
      %span.font-italic
        = @bicycle.user.full_name
    %p.text
      %h5.font-weight-bold Description:
      = @bicycle.description
    %p.card-text
      %small.text-muted 
        = time_ago_in_words(@bicycle.updated_at)          
= link_to 'Back', bicycles_path, class: 'btn btn-primary mb-3' 
= link_to 'Delete', bicycle_path(@bicycle), method: :delete, data: { :confirm => 'Are you sure?' }, class: "btn btn-danger mb-3" if policy(@bicycle).destroy?