%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo01", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarTogglerDemo01.collapse.navbar-collapse
    %a.navbar-brand{href: "/"} COAX
    %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      %li.nav-item.active
        %a.nav-link{href: "#{bicycles_path}"}
          Store
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: "#{home_profile_path}"} My Account
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled
    %form.form-inline.my-2.my-lg-0
      = form_tag("/bicycles", method: "get", remote: true) do
        = text_field_tag :query, params[:query], class: 'form-control mr-sm-2', placeholder: 'Serach'
        = select_tag 'category_id', options_for_select(Category.all.collect{ |u| [u.name, u.id] }), class: 'form-control mr-2'
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

      .nav-item
        - if user_signed_in?
          = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
            %span.fa.fa-sign-out
              Log out 
        - else
          = link_to new_user_session_path, class: 'nav-link' do
            %span.fa.fa-sign-in
              Log in